body {
	background-color: #333;
	color: #ccc;
	padding: 0 1rem;

	h1 {
		color: orange;
	}

	.main {
		display: flex;
    flex-wrap: wrap;

		form {
			fieldset {
				margin: 0 2em 2em 0;
				padding: 1.5em 2em 2em 2em;
				border: solid 1px #ccc;
				border-radius: 6px;
				width: 22rem;
				min-width: 200px;
				background-color: #2a2a2a;

				.row {
					.checkboxes {
						.checkboxItem {
							.checkboxLabel {
								display: inline-block;

								&::after {
									content: '';
								}
								cursor: pointer;
							}
						}
					}
				}

				.row:not(:first-of-type) {
					margin-top: 1rem;
				}

				.rowWholeNumber {
					div {
						input {
							width: 6rem;
							text-align: right;
						}
					}
				}

				.rowRank {
					div {
						input {
							width: 100%;
						}
					}
				}

				.rowDate {
					div {
						input {
							width: 6rem;
						}
					}
				}

				legend {
					padding: 0 0.25em;
					color: orange;
				}

				label {
					display: block;
					margin-bottom: 0.3rem;

					&::after {
						content: ':';
					}
				}

				input[type='text'] {
					padding: 0.5em;
					border: 1px solid #999;
					width: 96%;
					margin-bottom: 0.5rem;
				}

				textarea {
					width: 100%;
					height: 6rem;
					resize: none;
				}

				.buttonRow {
					display: flex;
					justify-content: flex-end;

					button {
						margin-top: 1rem;
						font-size: 1rem;
						padding: 0.3rem;
						display: flex;
						align-items: center;
					}
				}
			}
		}

		.right {
			.debuggingArea {
				font-family: 'Courier New', Courier, monospace;

				h3 {
					color: orange;
				}

				pre {
					background-color: black;
					border-radius: 10px;
					padding: 1rem;
					width: 25rem;
					color: green;
					font-size: 1.3rem;
					white-space: pre-wrap;
				}
			}

			.jobs {
				h3 {
					color: orange;
				}

				ol {
					padding-left: 20px;
					.job {
						margin: 10px;
						display: flex;
						justify-content: space-between;
					}
				}
			}
		}
	}
}
